.panel {
  background-color: #111;
  color: white;
  padding: 1rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #333;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.tabHeader {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.tabHeader button {
  flex: 1; /* låt båda knapparna ta lika stor plats */
  min-width: 0;
  padding: 0.6rem 1rem;

  font-size: 0.9rem;
  line-height: 1.2;
  font-weight: bold;

  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  white-space: normal; 
  overflow: visible;   
  text-overflow: unset;
  text-align: center;
}



.tabHeader button:hover {
  background-color: #444;
}

.active {
  background-color: #e1ab52;
  color: black;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

select {
  width: 100%;
  padding: 0.5rem;
  background-color: #222;
  color: white;
  border: 1px solid #444;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

.statsBox {
  flex-grow: 1;
  border: 1px solid #444;
  padding: 1rem;
  background-color: #1a1a1a;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
